<div class="page-container">
  <div class="content-container">
    <div class="banner-image banner-image-container">
      <h2 class="red-text-box subheading">
        My ability to control the machines was born...
      </h2>
    </div>
    <div class="text-container text-html">
      <div>
        Hi, I’m Tony. I’m a Full-Stack Senior Software Developer/Engineer,
        Certified Scrum Product Owner, and Clinician.
      </div>
      <br />
      <div>
        I have a passion for technology, consumer applications, startups, and
        healthcare. I started my career working at the bedside in a Surgical ICU
        unit of a level-1 trauma center, and have since been working with
        startups in the healthcare, finance and consumer industries. My
        motivation is to improve the lives of both my team and my clients by
        being a positive influence on company culture and building useful
        applications.
      </div>
      <br />
      <div>
        I love to learn, and have a broad range of specialties including: Web
        and Mobile Software Development, Interaction Design, Psychology,
        Healthcare, Finance, Agile and Scrum, and Computer Hardware. I have
        worked on several full-stack applicatons and mainly use Javascript,
        TypeScript and Python and their related libraries.
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
