<div class="page-container">
  <div class="content-container">
    <div class="banner-image banner-image-container">
      <h2 class="red-text-box subheading">
        My ability to control the machines was born...
      </h2>
    </div>
    <h3>
      Hi, I’m Tony. I’m a Full-Stack Senior Software Developer/Engineer,
      Certified Scrum Product Owner, and Clinician.
    </h3>
    <p>
      I have a passion for technology, consumer applications, startups, and
      healthcare. I started my career working at the bedside in a Surgical ICU
      unit of a level-1 trauma center, and have since been working with startups
      in the healthcare, finance and consumer industries. My motivation is to
      improve the lives of both my team and my clients by being a positive
      influence on company culture and building useful applications.
    </p>
    <p>
      I love to learn and have a broad range of specialties including: Web and
      Mobile Software Development/Engineering, interaction design, psychology,
      healthcare, Agile and Scrum, and computer hardware. For web development I
      focus on JavaScript and its related frameworks and libraries. I am most
      familiar with the MERN stack (MongoDB, Express, ReactJS and NodeJS), and I
      am excited about the opportunity to learn new technologies working with
      agile teams in the future.
    </p>
  </div>
</div>
