  .banner-image {
    background: url(../../../assets/about.svg) no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2em;
  }
