/* You can add global styles to this file, and also import other style files */
/* adding component level stlyes / making smaller, more modular stylesheets is preferred */
/* best tutorial for making modular stylesheets: https://angular-material.dev/articles/updating-to-angular-material-19#13-changes-for-typography */
/* TODO: Figure out how Matieral 19 can now import mixins here from other stylesheets */
@use '@angular/material' as mat;
@use 'fonts';
@use 'theme-colors';
@include mat.core;

:root {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
